.middle-content {
	width: 1010px;
	margin: 0px auto;
	overflow: visible;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px #666666;
}

.LogoImage {
	/*background-image: url(../Image/u0_normal.png);-->*/
	width:1010px; 
	height:120px; 
	background-color:#380B32
}
.SjtuLogoImage{
	background-image: url(../Image/sjtulogored.png);
}

.SjtuLogoImage-hover{
}

.SjtuLogoImage-active{
}
.SjtuLogoImage-focused{
}
/*
* left frame
*/

.left_frame {
	width: 214px;
}

.download_frame {
	padding: 10px 6px;
	width: 202px;
	box-shadow: 1px 1px 8px #666666;
	background-color:#FFFFFF;;
}
.download_title {
	width:214px; 
	height:40px; 
	background-color:#8C7189;
	text-align: center;
	line-height:40px; 
	font-size:16px; 
	color:#FBFBFF; 
	font-family:youyuan;
	margin: 0px auto;
}

.download_frame .yomi-HyperLink {
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	color: #000000;
}

.download_frame .yomi-HyperLink-hover {
	text-decoration: underline;
}

.contact_frame {
	width: 202px;
	box-shadow: 1px 1px 8px #666666;
	background-color:#FFFFFF;
	padding: 10px 6px 10px;
}

/*
* right frame
*/

/*
* footer
*/
.Footer {
	background-image: url(../Image/foot-1.png);
	margin: 20px auto;
}

.ContentContainer {
	margin: 2px 0px 0px 10px;
	border-top: 0px;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}

/*
* Pager Style
*/
.PagerButton {
	border: 0px;
	padding: 0px 2px;
}

.PagerButton-hover {
	cursor: pointer;
	color: red;
}

.PagerButton-active {
	
}

.PagerButton-focused {
	
}

.PagerButton-disabled {
	color: #CCCCCC;
}
/**/
.PagerNumLink {
	
}

.PagerNumLink-hover {
	cursor: pointer;
	color: red;
	text-decoration: underline;
}

.PagerNumLink-active {
	text-decoration: none;
	color: #CCCCCC;
}

.PagerNumLink-focused {
	
}

.PagerNumLink-disabled {
	
}

.PagerNumLink-visited {
	
}