.MenuBar{
	border: 1px solid #AAAAAA;
}
.MenuBar .MenuBar-horizontal{
}
.MenuItem{
	height: 53px;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	paddin: 0px;
	font-family: Arial;
    	font-size: 16px;
    	font-style: normal;
    	font-weight: bold;
    	text-decoration: none;
	text-align: center;
}
.sub_MenuItem{
	height: 36px;
	background-color:#FFFFFF;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	paddin: 0px;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}
.MenuBar .MenuBar-vertical{
	
}
.MenuItem-selected{
	color:#FFFFFF;
	background-color:#951308;
	cursor: pointer;
}
.sub_MenuItem-selected{
 	color: #FFFFFF;
	background-color:#951308;
	cursor: pointer;
}