.destitle {
	font-family: '微软雅黑';
	color: #900;
	font-size: 16px;
	line-height: 2;
	text-decoration:none;
}

.descontent {
	font-family: '微软雅黑';
	font-size: 12pt ;
	line-height: 1.5;
}


.destitle-hover{
	text-decoration:underline;
}
