
/*
*
*/
.right_frame {
	width: 790px;
}

.static_frame_base{
	width: 770px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #CCCCCC;
	border-radius: 10px;
	padding: 10px 10px 10px ;
	margin-top: 0px;
	min-Height: 725px;
}
/*
*
*/
.top_image {
	width: 790px;
}

.news_frame {
	width:790px; 
	background-color:#FFFFFF;
	margin-top:4px;
	box-shadow: 1px 1px 8px #666666;
}

.news_frame_title {
	font-size: 26px;
	font-weight: bold;
	font-family: youyuan;
	/*background-color: #273100;*/
	background-color:#380B32;
	color:#FFFFFF;
	padding: 4px 0px 4px 20px;
	height:34px;
	/*background-color: #DD9451;*/
}
.news_frame_title .yomi-HyperLink{
	font-size: 26px;
	line-height:34px;
	font-weight: bold;
	font-family: youyuan;
	color:#FFFFFF;
}
.news_frame_title .yomi-HyperLink-hover{
	cursor: pointer;
	text-decoration: underline;
}
.news_frame_title2 {
	font-size: 26px;
	font-weight: bold;
	font-family: youyuan;
	/*background-color: #2D5818;*/
	background-color:#380B32;
	color:#FFFFFF;
	padding: 4px 0px 4px 20px;
	/*background-color: #DD9451;*/
}
.news_frame_content {
	
}

.news_frame_content .yomi-HyperLink {
	line-height: 28px;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
}

.news_frame_content .yomi-HyperLink-hover {
		cursor: pointer;
	color: red;
	text-decoration: underline;
	background-color: #EFEFEF;
}

.news_frame_content .yomi-HyperLink-active {
	color: yellow;
}

.news_frame_content .yomi-HyperLink-focused {
}

.sm_frame {
	width:790px; 
	background-color:#FFFFFF;
	margin-top:4px;
	box-shadow: 1px 1px 8px #666666;
	min-height: 740px;
}
.sm_frame_title {
	font-size: 26px;
	font-weight: bold;
	font-family: youyuan;
	background-color: #273100;
	color:#FFFFFF;
	padding: 4px 0px 4px 20px;
	height:34px;
	/*background-color: #DD9451;*/
}
.sm_frame_title .yomi-HyperLink{
	font-size: 26px;
	line-height:34px;
	font-weight: bold;
	font-family: youyuan;
	color:#FFFFFF;
}
.sm_frame_title .yomi-HyperLink-hover{
	cursor: pointer;
	text-decoration: underline;
}
.sm_year{
	width:158px;
	height:40px;
	text-align:center;
 }
 .sm_year .yomi-HyperLink{
	font-size:16px;
	color:#666666;
	font-family:黑体;
	line-height:40px;
 }
 .sm_year .yomi-HyperLink-hover{
	text-decoration: underline;
	background-color:#CCCCCC;
 }
	