
body{
	background-color:#5D6570;
}

.login_frame {
	background-color: #555D68;
	width: 300px;
	height: 140px;
	margin: 0px auto;
	border-radius: 10px;
	border: 1px solid #888888;
	padding: 30px 50px;
}

.login_frame  .yomi-Label {
	color: #FFFFFF;
	line-height: 30px;
	font-size: 16px;
	text-align: right;
}

.login_frame .yomi-TextInput {
	border-radius: 5px;
	border: 1px solid #6A665A;
	padding: 0px 6px;
	line-height: 30px;
	font-size: 16px;
	font-family: kaiti;
	background-color: #3F464E;
}

.login_frame .yomi-PasswordInput {
	border-radius: 5px;
	border: 1px solid #6A665A;
	padding: 0px 6px;
	line-height: 30px;
	font-size: 16px;
	font-family: kaiti;
	background-color: #3F464E;
}

.login_frame .yomi-Button {
	border-radius: 4px;
	line-height: 30px;
	border: 0px;
	background-color: #7BBD41;
	color: #FFFFFF;
	font-family: 微软雅黑;
	font-size: 14px;
}