/*
* 
*/
.header {
	background-color: #686868;
	width: 100%;
	height: 50px;
	font-falimy: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}

.headNavi {
	background-color: #EEEEEE;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: double;
}

.headNavi .yomi-Label {
	color: #000000;
	font-weight: 800;
	padding: 0px 8px;
}

.headNavi .yomi-HyperLink {
	line-height: 30px;
}

.center {
	border: dashed 1px #CCCCCC;
	border-radius: 8px;
	width: 1100px;
	margin: 10px auto 0px;
	padding: 10px 20px 30px;
	background-color: #FFFFFF;
}

/*
* NewsListHead
*/
.NewsListHead {
	
}

.NewsListHead-Element {
	border-right: 1px solid red;
}

/*
* NewsListItem
*/
.NewsListItem {
	
}

.NewsListItem .Element {
	border-right: 1px solid #000000;
	height: 20px;
}

.NewsListItem .yomi-Button {
	border: 0px;
}

.NewsEditor{
	margin: 0px auto;
}