body {
    background-color: #F9F9F9;
    font-family: Helvetica,Arial,Sans-Serif;
    background-color: #DADEE2;
}

table{  
	border-collapse:collapse;  
	border-spacing:0;  
}  
 
th,td{  
	padding:0;  
}

.HyperLink {
	font-size:12px;
	line-height:20px;
	color: #333333;
	text-decoration: none;
	border-bottom: 1px dotted #000000;
}
.HyperLink-hover {
	cursor:pointer;
	color: red;
}
.HyperLink-active {
	text-decoration: none;
}
.HyperLink-focused {}
.HyperLink-disabled {}
.HyperLink-visited {
	text-decoration: none;
	color: #999999;
}
iframe {
	 frameborder: 0;
	 border: 0px;
}